
@import url(https://fonts.googleapis.com/css?family=Allan:700,400);

html{
  width:100%;
}
body {
margin-top:0;
  padding:10px;
  font-family: Allan;
  color:#ffffff;
  text-shadow: 5px 5px 5px#000;
 overflow: hidden;
  background-image: url('original.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c7b193;
  font-size:40px;
  
}

.petalas{
width:100vw;
  
}

.pedroeraquel{
  font-size:100px;
}


@media only screen and (max-width: 760px) {


body{
  font-size:25px;
}


.pedroeraquel{
  font-size:50px;
}

}