/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-color:black;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.butterfly {
  

  -webkit-animation: slideIn 50s forwards;
  -moz-animation: slideIn 50s forwards;
  animation: slideIn 50s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}

.mensagem{
  display:none;
  color:white;
  font-size:60px;
  text-shadow: 5px 5px 5px #000;
}


@media only screen and (max-width: 760px) {


  #myVideo {
right:-180px;
    position: fixed;  

    min-width: 100%;
    min-height: 100%;
  }
  
  .butterfly{
    margin-top:80px;
    height:90%;
  }
  
  .mensagem{
    display:none;
    color:white;
    font-size:30px;
    text-shadow: 5px 5px 5px #000;
  }

  h1{
   zoom:60%;
  }

}